<script>
	const toggle = document.getElementById("themeToggle");

	const getTheme = () => localStorage.getItem("theme") || "light";

	const setTheme = (theme: string) => {
		if (theme === "dark") {
			document.documentElement.classList.add("dark");
		} else {
			document.documentElement.classList.remove("dark");
		}
	};

	window.addEventListener("DOMContentLoaded", () => setTheme(getTheme()));
	document.addEventListener("astro:after-swap", () => setTheme(getTheme()));

	toggle?.addEventListener("click", () => {
		const nextTheme = getTheme() === "light" ? "dark" : "light";
		localStorage.setItem("theme", nextTheme);
		setTheme(nextTheme);
	});
</script>

<nav transition:persist>
	<button id="themeToggle"> Toggle Theme</button>
</nav>

<style>
	#themeToggle {
		border: 0;
		background: none;
	}
</style>
